# Python cache and virtual env
__pycache__/
*.pyc
venv/
.env
.env.*

# Dev-only requirements
dev-requirements.txt
dev-requirements.txtx  # just in case the typo file exists

# Ignore frontend and legacy files
frontend/
services/build_index.py